<div class="projects-container">
    <div class="projects-heading section-heading">
        Projects
    </div>
    <div class="content-container">
        <p>Here are some of the selected projects I have worked.</p>
        <div class="web-container">
            <p>Selected Projects in the web-development domain.</p>

            <div class="cards-container">
                <ng-template ngFor let-cardObject [ngForOf]="webCards" let-k="index">
                    <app-v2-project-cards [cardObject]="cardObject"></app-v2-project-cards>
                </ng-template>
            </div>

        </div>
        <div class="machine-learning-container">
            <p>Selected Projects in the Artificial Intelligence domain.</p>

            <div class="cards-container">
                <ng-template ngFor let-cardObject [ngForOf]="MLCards" let-k="index">
                    <app-v2-project-cards [cardObject]="cardObject"></app-v2-project-cards>
                </ng-template>
            </div>

        </div>
        <div class="visual-dsa-container">
            <p>Visualize Datastructures and Algorithms.</p>
            <div class="cards-container">
                <ng-template ngFor let-cardObject [ngForOf]="DSACards" let-k="index">
                    <app-v2-project-cards [cardObject]="cardObject"></app-v2-project-cards>
                </ng-template>
            </div>
        </div>
    </div>
</div>