@import "../../../_common.scss";

.header {

    position: fixed;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(10px);

    .nav {
        height: 72px;
        display: flex;
        justify-content: space-between;

        .logo {
            position: absolute;
            width: 50px;
            height: 50px
        }

        .navlinks {
            display: flex;
            flex-direction: row;
            padding: 8px;
            padding-right: 16px;
        

            .add-sep {
                border-right: 2px solid rgb(67, 64, 64);
            }

            .link-style {
                color: $text_color_1;
                padding: 8px;
                font-size: 24px;
                text-decoration: none;
                margin: auto;
            }

            :hover {
                color: $text_color_2;
            }
        }
    }
}

.sidebar {
    color: $text_color_3;

    padding: 26px;
    position: fixed;
    bottom: 0;
    background-color: $primary_background_color_1;
    writing-mode: vertical-rl;
    display: flex;

    &.right {
        right: 0;
    }

    &.left {
        left: 0;
    }

    .line {
        border-right: 4px dotted $text_color_2;
        height: 100px;
        width: 0px;
        margin: 8px auto;
    }

    .icon-tray {
        display: flex;

        img {
            height: 32px;
            width: 32px;
            padding: 4px;
            margin: 4px;
        }

        .github {
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
        }

        .linkedin {
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
        }
    }

    .email-link {
        margin: 4px 8px;
        font-size: 24px;
        letter-spacing: 1px;
    }

}

.main {
    .section_style {
        padding: 0px 100px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        height: 100vh;
        
        .section_div {
            width: 100%;
            height: calc(100% - 40px);
            margin: auto;
            margin-top: 52px;
        }

        &.landing_section {
            background-color: $primary_background_color_1;
        }

        &.about_section {
            background-color: $primary_background_color_1;
        }

        &.experience_section {
            background-color: $primary_background_color_1;
        }

        &.projects_section {
            background-color: $primary_background_color_1;
        }

        &.contact_section {
            background-color: $primary_background_color_1;
        }

    }

}