.container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    padding: 12px 24px;

    .section {
        padding: 0px 12px;

        &.misc-components {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .next-component-content {
                margin: 96px 12px;
            }

            .svgs-content {
                display: flex;
                gap: 24px;
                align-items: center;
                justify-content: center;

                span {
                    width: 48px;
                    height: 48px;
                }
            }
        }

        &.buttons,
        &.socials {
            padding: 0px 12px;

            .content {
                padding: 0px 12px;
                display: flex;
                gap: 24px;
            }
        }

    }


}