<!-- credits: https://codepen.io/jo_Geek/pen/xgbaEr -->
<div class="nav">

    <!-- TODO_LATER_AS_IMPROVEMENT -->
    <!-- dropdown is toggled by checkbox. Change to JS later -->
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            Yash
        </div>
    </div>

    <!-- TODO_LATER_AS_IMPROVEMENT -->
    <!-- Hamberger menu animations -->
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a>Projects</a>
        <a>About</a>
        <a>Experience</a>
        <a>Contact</a>
        <a>Resume</a>
    </div>
</div>

<!-- https://codepen.io/riley-pearce/pen/OJWPjZM?fbclid=IwAR2HwzINeVhFg7-YQvFDV8Teh-IH6akXO9RY3uMTapRobDt-R9fJ6-GIMkY -->
<div class="background">
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>
</div>