<header class="header">
	<nav class="nav">
		<div class="logo">
			<app-logo></app-logo>
		</div>
		<div class="placeholde"></div>

		<div class="navlinks">
			<a class="add-sep link-style" href="/#about">About</a>
			<a class="add-sep link-style" href="/#jobs">Experience</a>
			<a class="add-sep link-style" href="/#projects">Work</a>
			<a class="link-style" href="/#contact">Contact</a>
		</div>

	</nav>
</header>

<div class="sidebar left">
	<div class="line"></div>
	<div class="icon-tray">
		<img class="github" src="../../../assets/github.svg" alt="github" />
		<img class="linkedin" src="../../../assets/linkedin.svg" alt="linkedin" />
	</div>
	<div class="line"></div>
</div>

<main class="main">

	<!-- Landing Page -->
	<section class="section_style landing_section">
		<div class="landing_div">
			<app-landing></app-landing>
		</div>
	</section>

	<!-- About Page -->
	<section class="section_style about_section">
		<app-about></app-about>
	</section>

	<!-- Experience Page -->
	<section class="section_style experience_section">
		<app-experience></app-experience>
	</section>

	<!-- Projects Page -->
	<section class="section_style projects_section">
		<app-projects></app-projects>
	</section>

	<!-- Contact Me Page -->
	<section class="section_style contact_section">
		<app-contact></app-contact>
	</section>
</main>

<div class="sidebar right">
	<div class="line"></div>
	<a class="email-link">YG3752@gmail.com</a>
	<div class="line"></div>

</div>