<header class="header">
	<nav class="nav">
		<a href="/#landing">
			<div class="logo">
				<app-logo></app-logo>
			</div>
		</a>
		<div class="placeholder"></div>

		<div class="navlinks">
			<a class="add-sep link-style" href="/#about">About</a>
			<a class="add-sep link-style" href="/#experience">Experience</a>
			<a class="add-sep link-style" href="/#projects">Work</a>
			<a class="link-style" href="/#contact">Contact</a>
		</div>

	</nav>
</header>

<div class="sidebar left">
	<div class="line"></div>
	<div class="icon-tray">
		<img class="github" src="../../../assets/github.svg" alt="github" />
		<img class="linkedin" src="../../../assets/linkedin.svg" alt="linkedin" />
	</div>
	<div class="line"></div>
</div>

<main class="main">

	<!-- Landing Page -->
	<section class="section_style landing_section" id="landing">
		<div class="section_div">
			<app-landing></app-landing>
		</div>
	</section>

	<!-- About Page -->
	<section class="section_style about_section" id="about">
		<div class="section_div">
			<app-about></app-about>
		</div>
	</section>

	<!-- Experience Page -->
	<section class="section_style experience_section" id="experience">
		<div class="section_div">
			<app-experience></app-experience>
		</div>
	</section>

	<!-- Projects Page -->
	<section class="section_style projects_section" id="projects">
		<div class="section_div">
			<app-projects></app-projects>
		</div>
	</section>

	<!-- Contact Me Page -->
	<section class="section_style contact_section" id="contact">
		<div class="section_div">
			<app-contact></app-contact>
		</div>
	</section>
</main>

<div class="sidebar right">
	<div class="line"></div>
	<a class="email-link">YG3752@gmail.com</a>
	<div class="line"></div>

</div>