.experience-container {
    .content-container {
        .info-container {

            .container {
                width: 90%;
                margin: 0 auto;
                background: #2B343A;
                padding: 0 10%;
                border-radius: 2px;
                position: relative;
                padding: 2em 0;
                margin-top: 2em;
                margin-bottom: 2em;

                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 25px;
                    height: 100%;
                    width: 4px;
                    background: #7E57C2;
                }

                @media only screen and (min-width: 1170px) {


                    margin-top: 3em;
                    margin-bottom: 3em;

                    &::before {
                        left: 50%;
                        margin-left: -2px;
                    }

                    .timeline-block {
                        margin: 4em 0;

                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                }
            }
        }
    }
}