<div class="main_landing_content">

    <div class="landing_canvas_container">
        <app-animated-matrix></app-animated-matrix>
    </div>

    <div class="landing_content_container">

        <div class="introduction">

            <span id="introduction_greeting">

                <span class="span_line">
                    <div class="text_element hide">H</div>
                    <div class="text_element hide">i</div>
                    <div class="text_element hide">!</div>
                    <div class="text_element hide">!</div>
                    <div class="text_element hide">!</div>
                </span>
                <br>

                <span class="span_line">
                    <div class="text_element hide">I</div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">a</div>
                    <div class="text_element hide">m</div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">Y</div>
                    <div class="text_element hide">a</div>
                    <div class="text_element hide">s</div>
                    <div class="text_element hide">h</div>
                    <div class="text_element hide">!</div>
                    <div class="text_element hide">!</div>
                </span>
                <br>

                <span class="span_line">
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">S</div>
                    <div class="text_element hide">o</div>
                    <div class="text_element hide">f</div>
                    <div class="text_element hide">t</div>
                    <div class="text_element hide">w</div>
                    <div class="text_element hide">a</div>
                    <div class="text_element hide">r</div>
                    <div class="text_element hide">e</div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">D</div>
                    <div class="text_element hide">e</div>
                    <div class="text_element hide">v</div>
                    <div class="text_element hide">e</div>
                    <div class="text_element hide">l</div>
                    <div class="text_element hide">o</div>
                    <div class="text_element hide">p</div>
                    <div class="text_element hide">e</div>
                    <div class="text_element hide">r</div>
                    <div class="text_element hide">!</div>
                </span>
                <br>

                <span class="span_line">
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">S</div>
                    <div class="text_element hide">T</div>
                    <div class="text_element hide">U</div>
                    <div class="text_element hide">D</div>
                    <div class="text_element hide">E</div>
                    <div class="text_element hide">N</div>
                    <div class="text_element hide">T</div>
                    <div class="text_element hide">!</div>
                </span>
                <br>

                <span class="span_line">
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">B</div>
                    <div class="text_element hide">U</div>
                    <div class="text_element hide">D</div>
                    <div class="text_element hide">D</div>
                    <div class="text_element hide">I</div>
                    <div class="text_element hide">N</div>
                    <div class="text_element hide">G</div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">M</div>
                    <div class="text_element hide">L</div>
                    <div class="text_element hide seperator"> </div>
                    <div class="text_element hide">E</div>
                    <div class="text_element hide">n</div>
                    <div class="text_element hide">g</div>
                    <div class="text_element hide">i</div>
                    <div class="text_element hide">n</div>
                    <div class="text_element hide">e</div>
                    <div class="text_element hide">e</div>
                    <div class="text_element hide">r</div>
                    <div class="text_element hide">!</div>
                </span>
                <br>

            </span>

        </div>

    </div>
</div>