<div class="main_experience_content">

    <div class="experience_content_content">
        <div class="experience_heading">
            <p>
                ----- EDUCATION & EXPERIENCE -----
            </p>
        </div>
        <div class="experience_content">


            <div class="container">

                <div class="tabs_container">

                    <div class="tab_content_container">
                        <input type="radio" id="tab_1" name="tab_contents">
                        <label for="tab_1">University of California, Riverside</label>
                        <div class="tab_content">
                            <ul class="tab_content_list education">
                                <li class="tab_content_list_item">Master's in Computer Science Student @ <a
                                        target="_blank" href="https://www.ucr.edu/">UCR</a></li>
                                <li class="tab_content_list_item">September 2022 - Present</li>
                                <li class="tab_content_list_item">CourseWork</li>
                                <ul class="tab_content_list">
                                    <li class="tab_content_list_item">Computer Security</li>
                                    <li class="tab_content_list_item">Data Mining Techniques</li>
                                    <li class="tab_content_list_item">Introduction to Machine Learning and Data Mining
                                    </li>
                                    <li class="tab_content_list_item">Intro To Natural Language Processing</li>
                                    <li class="tab_content_list_item">Advanced Operating Systems</li>
                                    <li class="tab_content_list_item">Foundations of Machine Learing</li>
                                </ul>
                                <li class="tab_content_list_item">GPA - 4.0/4.0</li>
                                <li class="tab_content_list_item">Member of International Student Union</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab_content_container">
                        <input type="radio" id="tab_2" name="tab_contents">
                        <label for="tab_2">Compro Technologies</label>
                        <div class="tab_content">
                            <ul class="tab_content_list work">
                                <li class="tab_content_list_item">Software Development Engineer @ <a target="_blank"
                                        href="https://www.comprotechnologies.com/home">Compro Technologies</a></li>
                                <li class="tab_content_list_item">July 2019 - July 2022</li>
                                <li class="tab_content_list_item">Written modern, scalable, performant, and maintainable
                                    code as per client requiremrnts and internal projects</li>
                                <li class="tab_content_list_item">Communicated with multi-disciplinary teams of
                                    designers, clients, mentors, and mentees on a daily basis</li>
                                <li class="tab_content_list_item">Tech Stack</li>
                                <ul class="tab_content_list">
                                    <li class="tab_content_list_item">RxDB</li>
                                    <li class="tab_content_list_item">Express</li>
                                    <li class="tab_content_list_item">Angular</li>
                                    <li class="tab_content_list_item">Node.JS</li>
                                    <li class="tab_content_list_item">Electron</li>
                                </ul>
                                <li class="tab_content_list_item">Known as the Exterminator for my debugging skills</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab_content_container">
                        <input type="radio" id="tab_3" name="tab_contents" checked>
                        <label for="tab_3">HCL Technologies</label>
                        <div class="tab_content">
                            <ul class="tab_content_list work">
                                <li class="tab_content_list_item">Summer Intern @ <a target="_blank"
                                        href="https://hclinfotech.in/">HCL
                                        Technologies</a></li>

                                <li class="tab_content_list_item">June 2018 - July 2018</li>

                                <li class="tab_content_list_item">Collaborated closely with the Product Manager to track
                                    tactical objectives, and define an achievable work plan.</li>

                                <li class="tab_content_list_item">Part of a tight-knit team of interns designated to
                                    build POCs and MVP products.</li>
                                <li class="tab_content_list_item">Tech Stack</li>
                                <ul class="tab_content_list">
                                    <li class="tab_content_list_item">Java</li>
                                    <li class="tab_content_list_item">Spring Framework</li>
                                </ul>
                                <li class="tab_content_list_item">Came second in the best intern compitition out of 2
                                    participents <img class="wink_svg" src="../../../assets/wink_emoji.svg">.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab_content_container">
                        <input type="radio" id="tab_4" name="tab_contents">
                        <label for="tab_4">Guru Gobind Singh Indraprastha University</label>
                        <div class="tab_content">
                            <ul class="tab_content_list education">
                                <li class="tab_content_list_item">Bachelor's of Technology in Information Technology @<a
                                        target="_blank" href="http://www.ipu.ac.in/">GGSIPU</a></li>
                                <li class="tab_content_list_item">August 2015 - May 2019</li>
                                <li class="tab_content_list_item">CourseWork</li>
                                <ul class="tab_content_list">
                                    <li class="tab_content_list_item">Database Management Systems</li>
                                    <li class="tab_content_list_item">Artificial Intelligence</li>
                                    <li class="tab_content_list_item">Software Engineering
                                    </li>
                                    <li class="tab_content_list_item">Web Development</li>
                                    <li class="tab_content_list_item">Mobile Computing</li>
                                    <li class="tab_content_list_item">Design and Analysis of Algorithms</li>
                                </ul>
                                <li class="tab_content_list_item">GPA - 8.0/10.0</li>
                                <li class="tab_content_list_item">Member of 'dotC' programming club</li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>