// Declare some custom fonts
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/Fonts/Merriweather/Merriweather-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Merriweather-light';
    src: url('../assets/Fonts/Merriweather/Merriweather-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Dosis';
    src: url('../assets/Fonts/Dosis/static/Dosis-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Dosis-light';
    src: url('../assets/Fonts/Dosis/static/Dosis-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Higher-Jump';
    src: url('../assets/Fonts/higher-jump/Higher\ Jump.ttf') format('truetype'),
}

// Define colors

// Primary background colors
$primary_background_color_1: #012417;
$primary_background_color_2: #002A1A;
$primary_background_color_3: #00301D;
$primary_background_color_4: #003520;
$primary_background_color_5: #7DA97A;

// Primary text colors
$text_color_1: #FF9B54;
$text_color_2: #FF7F51;
$text_color_3: #CE4257;
$text_color_4: #FF7F51;
$text_color_5: #FF9B54;