// Declare some custom fonts
@font-face {
    font-family: 'Caranda';
    src: url('../assets/Fonts/caranda/Caranda.ttf') format('truetype'),
}

@font-face {
    font-family: 'Dosis';
    src: url('../assets/Fonts/Dosis/static/Dosis-Regular.ttf') format('truetype'),
}

// Define colors

// background colors
$v2_primary_background_color_1: #0E1B2B;
$v2_primary_background_color_1_darken: #263240;
$v2_primary_background_star_color: #c49952;

// text colors
$v2_text_color_1: #FFFFFF;
$v2_text_color_1_darken: #cccccc;
$v2_text_heading_underline: #27DEBF;

// theme colors
$v2_main_color_1: #0c4339;
$v2_main_color_1_lighten: #10594c;
$v2_main_color_1_darken: #082f28;

// logo colors
$v2_logo_background: #758C71;

// error success colors
$v2_error_red: #8B0000;
$v2_heart_red: #ff6e6e;


// font family
$v2_font_family_my_name: 'Caranda';
$v2_font_family_general: 'Dosis';

// third party icon colors
$v2_twitter_blue: #03A9F4;
$v2_linkedin_blue: #378fe9;
$v2_gmail_wheat: #E7E4D7;