// Declare some custom fonts
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/Fonts/Merriweather/Merriweather-Regular.ttf') format('truetype'),
}

// Define colors

// Primary background colors
$v2_primary_background_color_1: #0E1B2B;

// Primary text colors
$v2_text_color_1: #FFFFFF;
$v2_text_color_2: #1d9099;