<div class="timeline-block" [ngClass]="{'left': childIndex %2==0, 'right': childIndex%2==1}">
    <div class="timeline-img">
        <img *ngIf="experienceCard.type == 'work'" src="../../../../assets/briefcase.svg" alt="work" class="work" title="Work">
        <img *ngIf="experienceCard.type == 'education'" src="../../../../assets/grad_cap.svg" alt="Education"
            class="education" title="Education">
    </div>

    <div class="timeline-content">

        <div class="timeline-header">{{experienceCard.header}}</div>

        <div class="timeline-sub-header d-flex">
            <span class="timeline-sub-header-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                {{experienceCard.designation}}
            </span>
            <span class="timeline-sub-header-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{experienceCard.tenure}}
            </span>
        </div>

        <div class="timeline-content-body">
            <ul>
                <li *ngFor="let point of experienceCard.job_desc;">
                    {{point}}
                </li>
            </ul>

        </div>

        <div class="timeline-sub-header">
            <span class="timeline-sub-header-title">
                {{experienceCard.sub_header}}

            </span>
            <ul class="timeline-badges">
                <li *ngFor="let tech of experienceCard.tech_stack;">
                    {{tech}}
                </li>
            </ul>
        </div>
    </div>
</div>