.small {
    display: flex;
    width: 92px;
    height: 92px;

    .svg-logo-circle {
        stroke-dashoffset: 0px;
        stroke-width: 2px;
        width: 56px;
        height: 56px;
        margin: 12px 16px;

        .logo-circle {
            stroke: var(--text-primary);
            fill: var(--surface-1);
            stroke-width: 6px;
            stroke-dasharray: 571px;
        }

        .logo-name {
            fill: var(--text-primary);
            stroke: var(--text-primary);
            stroke-dasharray: 650px;
            transform: translate(30%, 22%);
        }

    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;


    .svg-logo-name {
        animation: logo-fill 0.7s ease-in-out forwards 0.2s;
        display: none;

        @media (min-width:700px) {
            display: block;
        }

        path {
            stroke: var(--text-primary);
        }

        path:nth-child(1) {
            stroke-dasharray: 456px;
            stroke-dashoffset: 456px;
            animation: line-anim 1s ease-in-out forwards 0.2s;
        }

        path:nth-child(2) {
            stroke-dasharray: 616px;
            stroke-dashoffset: 616px;
            animation: line-anim 1s ease-in-out forwards 0.3s;
        }

        path:nth-child(3) {
            stroke-dasharray: 455px;
            stroke-dashoffset: 455px;
            animation: line-anim 1s ease-in-out forwards 0.4s;
        }

        path:nth-child(4) {
            stroke-dasharray: 720px;
            stroke-dashoffset: 720px;
            animation: line-anim 1s ease-in-out forwards 0.5s;
        }

        @keyframes logo-fill {
            from {
                fill: transparent;
            }

            to {
                fill: var(--text-primary);
            }
        }

        @keyframes line-anim {
            to {
                stroke-dashoffset: 0px;
            }
        }

    }

    .svg-logo-circle {
        width: 92px;
        height: 92px;

        .logo-circle {
            stroke: var(--text-primary);
            stroke-dasharray: 571px;
            stroke-dashoffset: 571px;
            animation: line-anim-logo1 1.5s ease-in-out forwards;
            stroke-width: 2px;
        }

        .logo-name {
            stroke: var(--text-primary);
            stroke-dasharray: 650px;
            stroke-dashoffset: 650px;
            transform: translate(30%, 22%);
            animation: line-anim-logo2 1.5s ease-in-out forwards;
            stroke-width: 2px;
        }

        @keyframes line-anim-logo1 {
            from {
                fill: transparent;
            }

            to {
                fill: var(--surface-1);
                stroke-dashoffset: 0px;
            }
        }

        @keyframes line-anim-logo2 {
            from {
                fill: transparent;
            }

            to {
                fill: var(--text-primary);
                stroke-dashoffset: 0px;
            }
        }

    }
}