.hero-container {
    width: 100%;
    height: fit-content;
    margin-top: 90px;

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid yellow;
        width: calc(100% - 240px);
        margin: auto;

        .left-info-container {
            border: 2px solid red;
        }

        .right-image-container {
            border: 2px solid red;

            img {
                width: 300px;
                height: 300px;
            }
        }
    }
}