<div class="hero-container">
    <div class="main-container">
        <div class="left-info-container">
            <p>
                Hi! My name is
            </p>
            <p>
                Yash Aggarwal
            </p>
            <p>
                And I am a
            </p>
            <p>
                Full-stack Developer
            </p>
            <p>
                Student
            </p>
            <p>
                Machine Learning Engineer
            </p>
        </div>
        <div class="right-image-container">
            <img src="../../../assets/hero-image.svg">
        </div>
    </div>
</div>