<div class="hero-container">
    <div class="main-container">
        <div class="left-info-container">
            <div class="info-container">

                <div class="sub-header">
                    Hello! I am 
                </div>
                <div class="header name">
                    Yash Aggarwal
                </div>
                <div class="sub-header">
                    And I am a
                </div>
                <div class="slidingVertical">
                    <span class="slide header">Front-End Developer</span>
                    <span class="slide header">Student</span>
                    <span class="slide header">Machine Learning Engineer</span>
                </div>
            </div>
            <div class="call-to-action-container">
                <button class="btn-resume">View Résumé!</button>
                <button class="btn-hire">Hire Me!</button>
            </div>

        </div>
        <div class="right-image-container">
            <div class="svg">
                <app-v2-svgs [svg]="'hero'"></app-v2-svgs>
            </div>
        </div>
    </div>
</div>