.hero-container {
    width: 100%;
    height: fit-content;
    margin-top: 90px;

    .main-container {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin: auto;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
            width: calc(100% - 240px);

        }

        .left-info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .info-container {
                display: flex;
                flex-direction: column;

                .header {
                    font-size: 32px;
                    &.name {
                        font-size: 64px;
                        font-family: Zeyada;
                    }
                }
    
                .sub-header {
                    font-size: 24px;
                }
    
                .slidingVertical {
                    height: 72px;
                    width: 400px;
                    .slide {
                        animation: topToBottom 9s linear infinite 0s;
                        -ms-animation: topToBottom 9s linear infinite 0s;
                        -webkit-animation: topToBottom 9s linear infinite 0s;
                        color: white;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
    
                        &:nth-child(2) {
                            animation-delay: 3s;
                            -ms-animation-delay: 3s;
                            -webkit-animation-delay: 3s;
                        }
    
                        &:nth-child(3) {
                            animation-delay: 6s;
                            -ms-animation-delay: 6s;
                            -webkit-animation-delay: 6s;
                        }
                    }
                }
            }

            .call-to-action-container {
                
            }


        }

        .right-image-container {

            .svg {
                width: 400px;
                height: 400px;
            }
        }
    }
}


@keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    35% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    41% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}