@import "../../_common_v2.scss";


.hero-container {
    width: 100%;
    height: fit-content;
    margin-top: 192px;
    margin-bottom: 160px;

    .main-container {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin: auto;
        flex-direction: column;

        @media (min-width: 992px) {
            flex-direction: row;
            width: calc(100% - 240px);

        }

        .left-info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-height: 440px;

            .info-container {
                display: flex;
                flex-direction: column;

                .header {
                    font-size: 32px;

                    &.name {
                        font-size: 64px;
                        font-family: Zeyada;
                    }
                }

                .sub-header {
                    font-size: 24px;
                }

                .slidingVertical {
                    display: flex;
                    height: 72px;
                    width: 400px;
                    margin-top: 16px;

                    .slide {
                        animation: topToBottom 9s linear infinite 0s;
                        -ms-animation: topToBottom 9s linear infinite 0s;
                        -webkit-animation: topToBottom 9s linear infinite 0s;
                        color: white;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;

                        &:nth-child(2) {
                            animation-delay: 3s;
                            -ms-animation-delay: 3s;
                            -webkit-animation-delay: 3s;
                        }

                        &:nth-child(3) {
                            animation-delay: 6s;
                            -ms-animation-delay: 6s;
                            -webkit-animation-delay: 6s;
                        }
                    }
                }
            }

            .call-to-action-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .btn-resume {
                    appearance: none;
                    background-color: transparent;
                    border: 0.125em solid #1A1A1A;
                    border-radius: 0.9375em;
                    box-sizing: border-box;
                    color: $v2_text_color_1;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0;
                    min-height: 3.75em;
                    min-width: 0;
                    outline: none;
                    padding: 1em 2.3em;
                    text-align: center;
                    text-decoration: none;
                    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    will-change: transform;

                    &:disabled {
                        pointer-events: none;
                    }

                    &:hover {
                        color: #fff;
                        background-color: #1A1A1A;
                        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                        transform: translateY(-2px);
                    }

                    &:active {
                        box-shadow: none;
                        transform: translateY(0);
                    }

                }

                .btn-hire {
                    width: 8.5em;
                    background: black;
                    color: white;
                    border: none;
                    border-radius: 0.625em;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;


                    &:hover {
                        color: black;
                    }

                    &:after {
                        content: "";
                        background: white;
                        position: absolute;
                        z-index: -1;
                        left: -20%;
                        right: -20%;
                        top: 0;
                        bottom: 0;
                        transform: skewX(-45deg) scale(0, 1);
                        transition: all 0.5s;
                    }

                    &:hover:after {
                        transform: skewX(-45deg) scale(1, 1);
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                }
            }


        }

        .right-image-container {
            min-height: 440px;
            .svg {
                margin: auto;
                width: 330px;
                height: 330px;
                @media (min-width: 500px) {
                    width: 440px;
                    height: 440px;
                }

            }
        }
    }
}


@keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    35% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    41% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}