<div class="about-container">
    <div class="about-heading section-heading">
        About Me
    </div>
    <div class="content-container">
        <div class="info-container">
            <p>Hi! I am Yash. Software Developer based in Riverside, California.</p>
            <p>I am pursuing my master's in computer science from University of California, Riverside and am
                transtioning to machine learning roles.</p>
            <p>As a software developer transitioning to machine learning, I bring a wealth of experience in developing
                software systems and web applications to the field of machine learning. My strong background in system
                design has given me a solid foundation in the basics of computer science, including
                algorithms, data structures, and software design patterns.</p>
            <p>As I move into the field of machine learning, I am excited to build on this foundation by delving deeper
                into statistical modeling, data analysis, and machine learning algorithms for the development of machine
                learning models and applications. I have experience working with popular machine
                learning frameworks such as TensorFlow, Keras, and PyTorch, and I am eager to learn more about how these
                frameworks can be integrated with web development technologies.</p>
            <p>In addition to my technical skills, I am also highly collaborative and enjoy working with a team to solve
                complex problems. I believe that effective communication, both within a team and with stakeholders, is
                essential to the success of any project.</p>
        </div>
        <div class="about-svg-container">
            <app-v2-svgs [svg]="'about'"></app-v2-svgs>
        </div>
    </div>
</div>
