/* You can add global styles to this file, and also import other style files */
@import "./app/_common_v3.scss";


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: $v2_font_family_general !important;
    margin: 0;
    padding: 0;
    background-color: var(--v2_primary_background_color_1);
    color: var(--v2_text_color_1);
}

// apply theme styles
body {
    &.theme-light {

        // accent color
        --v2_accent_color: #384734;

        // background colors
        --v2_primary_background_color_1: #f5f8fa;
        --v2_primary_background_color_1_rgb: 254, 246, 228;

        // text colors
        --v2_text_color_1: #1a3a52;
        --v2_text_color_1_darken: #122352;

        // theme colors
        --v2_main_color_1: #a3dcd4; // card / component background
        --v2_main_color_1_rgb: 163, 220, 212;
        --v2_main_color_1_lighten: #b5e3dd; // hover states
        --v2_main_color_1_lighter_than_lighter: #c8eae5; // active + hover states
        --v2_main_color_1_darken: #93c6bf; // disabled states

        // logo colors
        --v2_logo_background: var(--v2_main_color_1_lighten)

    }

    &.theme-dark {

        // accent color - for stars and section heading underlines
        --v2_accent_color: #5FD1C8;

        // background colors
        --v2_primary_background_color_1: #0e1b2b; // app background
        --v2_primary_background_color_1_rgb: 14, 27, 43;

        // text colors
        --v2_text_color_1: #C3CFDA; // active text
        --v2_text_color_1_darken: #8FA0B3; // disabled text

        // theme colors
        --v2_main_color_1: #17212E; // card / component background
        --v2_main_color_1_rgb: 23, 33, 46;
        --v2_main_color_1_lighten: #1F2B3A; // hover states
        --v2_main_color_1_lighter_than_lighter: #3A4A63; // active + hover states
        --v2_main_color_1_darken: #0E141C; // disabled states

        // logo colors
        --v2_logo_background: var(--v2_main_color_1_lighten)
    }

    &.theme-common {

        // third party icon colors
        --v2_twitter_blue: #03A9F4;
        --v2_linkedin_blue: #378fe9;
        --v2_gmail_wheat: #E7E4D7;

        // error success colors
        --v2_error_red: #8B0000;
        --v2_heart_red: #ff6e6e;


    }
}

// apply generic styles
body {
    p {
        margin: 0;
    }

    overflow: auto;

    &.sidebarActive {
        overflow: hidden;
    }

    #external-link-button {
        display: none;
    }
}

.glow {
    animation: glow 2s ease-in-out infinite alternate;

}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 10px rgba(102, 126, 234, 0.5));
    }

    to {
        filter: drop-shadow(0 0 20px rgba(102, 126, 234, 0.8));
    }
}