@import "../../_common_v3.scss";

.header-container {
    height: fit-content;
    width: 100%;
    background-color: var(--v2_main_color_1);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    .left {
        .nav-title {
            .svg-logo-circle {
                stroke-dashoffset: 0px;
                stroke-width: 2px;
                width: 56px;
                height: 56px;
                margin: 12px 16px;

                .logo-circle {
                    stroke: var(--v2_text_color_1);
                    fill: var(--v2_logo_background);
                    stroke-width: 6px;
                    stroke-dasharray: 571px;
                }

                .logo-name {
                    fill: var(--v2_text_color_1);
                    stroke: var(--v2_text_color_1);
                    stroke-dasharray: 650px;
                    transform: translate(30%, 22%);
                }

            }
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex-direction: row;

        .mode-toggle {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2px;
            cursor: pointer;

            .svg-container {
                margin: 2px;
                padding: 2px;

                svg {
                    width: 32px;
                    height: 32px;
                }

                .moon {

                    svg {
                        fill: white;
                    }
                }
            }

            .text-container {
                margin: 2px;
                padding: 2px;
                font-size: 1.2em;


            }

            .svg-container {

                .sun {
                    display: none;
                }

                .moon {
                    display: block;
                }
            }

            .text-container {
                .lumos {
                    display: none;
                }

                .nox {
                    display: block;
                }
            }

            &.dark {
                .svg-container {

                    .sun {
                        display: block;
                    }

                    .moon {
                        display: none;
                    }
                }

                .text-container {
                    .lumos {
                        display: block;
                    }

                    .nox {
                        display: none;
                    }
                }

            }
        }

    }

    .links-container {
        display: flex;
        float: right;
        font-size: 18px;
        align-content: center;
        flex-wrap: wrap;
        margin-right: 12px;

        .nav-links {
                display: none;
        
                @media (min-width: 600px) {
                    display: flex;
                }
        
                a {
                    display: inline-block;
                    padding: 12px;
                    text-decoration: none;
                    color: var(--v2_text_color_1);
                    cursor: pointer;
                    border-radius: 8px;
        
                    &:hover {
                        background-color: var(--v2_main_color_1_lighten);
                    }
        
                    &.active {
                        opacity: 1;
                        color: var(--v2_accent_color);
                        font-weight: 600;
                    }
                }
        
            }

        .menu-toggle-button {
            display: flex;

            @media (min-width: 600px) {
                display: none;
            }

            .hamburger {
                display: block;
                width: 54px;
                height: 56px;
                background-color: var(--v2_main_color_1);
                position: relative;
                cursor: pointer;

                & span,
                &:before,
                &:after {
                    content: " ";
                    display: block;
                    width: 32px;
                    height: 2px;
                    background-color: var(--v2_text_color_1);
                    transform: rotate(0);
                    position: absolute;
                    left: 12px;
                    transition: all 300ms ease-in-out;
                }

                &:before {
                    top: 16px;
                }

                & span {
                    top: 28px;
                    opacity: 1;
                }

                &:after {
                    bottom: 14px;
                }

                &:hover {
                    background-color: var(--v2_main_color_1_lighten);

                }

                &.active {
                    width: 50px;
                    background-color: var(--v2_main_color_1_lighten);

                    span {
                        opacity: 0;
                        top: 24px;
                        transform: rotate(90deg);
                    }

                    &:before {
                        width: 36px;
                        top: 28px;
                        left: 8px;
                        transform: rotate(45deg);
                    }

                    &:after {
                        width: 36px;
                        bottom: 26px;
                        left: 8px;
                        transform: rotate(-45deg);
                    }
                }

            }

        }

        .sidebar {
            display: flex;
            position: fixed;
            width: 100%;
            height: calc(100vh - 80px);
            top: 80px;
            right: 0px;
            background: var(--v2_main_color_1);
            justify-content: center;
            align-items: flex-start;
            opacity: 0;
            transition: 0.5s;
            transform: translate(100%);

            &.active {
                opacity: 1;
                transform: translate(0px);
            }

            .links {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 32px;
                margin-top: 72px;
                width: 220px;

                a {
                    display: inline-block;
                    padding: 12px;
                    text-decoration: none;
                    color: var(--v2_text_color_1);
                    cursor: pointer;
                    border-radius: 8px;
                    text-align: center;
                    width: 100%;

                    &:hover {
                        background-color: var(--v2_main_color_1_lighten);
                    }
                                        &.active {
                        opacity: 1;
                        color: var(--v2_accent_color);
                        font-weight: 600;
                    }
                }
            }
        }
    }

}

.background {
    width: 100%;
    height: calc(100% - 72px);
    position: absolute;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;

    .bg-animation {
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        height: calc(100% - 72px);
        overflow: hidden;
    }

    #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        -webkit-animation: animStar 50s linear infinite;
        -moz-animation: animStar 50s linear infinite;
        -ms-animation: animStar 50s linear infinite;
        animation: animStar 50s linear infinite;
    }

    #stars:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
    }

    #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        -webkit-animation: animStar 100s linear infinite;
        -moz-animation: animStar 100s linear infinite;
        -ms-animation: animStar 100s linear infinite;
        animation: animStar 100s linear infinite;
    }

    #stars2:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
    }

    #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        -webkit-animation: animStar 150s linear infinite;
        -moz-animation: animStar 150s linear infinite;
        -ms-animation: animStar 150s linear infinite;
        animation: animStar 150s linear infinite;
    }

    #stars3:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
    }

    #stars4 {
        width: 1px;
        height: 1px;
        background: transparent;
        -webkit-animation: animStar 600s linear infinite;
        -moz-animation: animStar 600s linear infinite;
        -ms-animation: animStar 600s linear infinite;
        animation: animStar 600s linear infinite;
    }

    #stars4:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
    }

    @-webkit-keyframes animStar {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(calc(var(--dx) * 0.5), -1000px);
        }

        100% {
            transform: translate(var(--dx), var(--dy));
        }
    }

    @-moz-keyframes animStar {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(calc(var(--dx) * 0.5), -1000px);
        }

        100% {
            transform: translate(var(--dx), var(--dy));
        }
    }

    @-ms-keyframes animStar {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(calc(var(--dx) * 0.5), -1000px);
        }

        100% {
            transform: translate(var(--dx), var(--dy));
        }
    }

    @keyframes animStar {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(calc(var(--dx) * 0.5), -1000px);
        }

        100% {
            transform: translate(var(--dx), var(--dy));
        }
    }
}