/* You can add global styles to this file, and also import other style files */

// Add default font family to document
body {
    font-family: Dosis, cursive !important;
    margin: 0;
    padding: 0;
}