/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Dosis, cursive !important;
    margin: 0;
    padding: 0;
    color: red;

}

body {
    background: #fef6e4;
    // background: linear-gradient(72deg, rgba(118, 193, 12, 1) 0%, rgba(0, 133, 13, 1) 100%);
    background: radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438E 100%) center bottom / 100% fixed;

    .btn {
        margin: 2px;
        padding: 8px 4px;
        border: 0;
        letter-spacing: 2px;
        line-height: 1;
        font-size: 16px;
        background: none;
        cursor: pointer;
    }
}