@import "../../../_common_v2.scss";

.main_about_content {
    width: 100%;
    height: 100%;

    // #myChart {
    //     width: calc(100% - 200px);
    //     height: calc(100% - 76px);
    //     position: absolute;
    // }

    .about_content_content {
        width: calc(100% - 200px);
        height: calc(100% - 76px);
        position: absolute;
        margin-top: 20px;

        .about_heading {

            $font_size: 48px;

            display: grid;
            height: fit-content;
            width: fit-content;
            margin: 0;
            overflow: hidden;

            p {
                transform: skew(-16deg) rotate(-8deg);
                grid-area: text;
                font-family: "Oswald-bold";
                font-size: $font_size;
                margin: 0;
                padding: 30px;
                color: $v2_text_color_2;
                text-shadow: 4px 4px 0 #e79c10, -4px -4px 0 #d53a33;
            }
        }

        .about_content {
            margin-top: 72px;

            .wrapper {
                text-align: left;
                font-size: 20px;
                font-weight: 900;
                color: red;
                font-family: "Merriweather-light";

                .animate_text {
                    font-size: 24px;

                    &.upper {
                        text-transform: uppercase;

                    }

                    &.animate_style_1 {
                        background: linear-gradient(to right, #CAF0F8 10%, #48CAE4 50%, #0077B6 60%);
                        background-size: 200% auto;
                        animation: textclip 2s ease-in-out infinite;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }

                    &.animate_style_2 {
                        background: linear-gradient(to right, #E0C3FC 10%, #BBADFF 50%, #8187DC 60%);
                        background-size: 200% auto;
                        animation: textclip 2s ease-in-out infinite;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }

                    &.animate_style_3 {
                        background: linear-gradient(to right, #FFB3C1 10%, #FF758F 50%, #C9184A 60%);
                        background-size: 200% auto;
                        animation: textclip 2s ease-in-out infinite;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }

                    &.animate_style_4 {
                        background: linear-gradient(to right, #FF9B85 10%, #FFD97D 50%, #EE6055 60%);
                        background-size: 200% auto;
                        animation: textclip 2s ease-in-out infinite;
                        background-clip: text;
                        -webkit-background-clip: text;
                        text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .strike_through {
                    text-decoration: line-through;
                }
            }
        }

        .learning {
            display: flex;
            justify-content: space-around;
            font-family: "Oswald-bold";

            .things_i_learnt,
            .things_i_am_learning {
                .list_common {
                    counter-reset: li;
                    list-style: none;
                    padding: 0;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
                    font-size: 20px;

                    .list_item {
                        position: relative;
                        display: block;
                        padding: .4em .4em .4em 2em;
                        margin: .5em 0;
                        background: #7DA97A;
                        color: #CE4257;
                        text-decoration: none;
                        border-radius: .3em;
                        transition: .3s ease-out;

                        &:hover {
                            background: #003520;
                        }

                        &:hover:before {
                            transform: rotate(360deg);
                        }

                        &:before {
                            content: counter(li);
                            counter-increment: li;
                            position: absolute;
                            left: -1.3em;
                            top: 50%;
                            margin-top: -1.3em;
                            background: #7DA97A;
                            height: 2em;
                            width: 2em;
                            line-height: 2em;
                            border: .3em solid #fff;
                            text-align: center;
                            font-weight: bold;
                            border-radius: 2em;
                            transition: all .5s ease-out;
                        }

                        &.content_only {
                            padding: 0.4em 2em;
                            margin: 0em;
                            margin-left: -16px;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }
}




@keyframes textclip {
    to {
        background-position: 200% center;
    }
}