<div class="main_about_content">
    <!-- <div>
        <canvas id="myChart"></canvas>
    </div> -->

    <div class="about_content_content">
        <div class="about_heading">
            <p>
                ----- CHECK ME OUT -----
            </p>
        </div>
        <div class="about_content">

            <p class="wrapper">
                Hi! My name is <span class="animate_text animate_style_1 upper">Yash</span> and I like to <span
                    class="animate_text animate_style_2">create
                    things</span> that live as <span class="animate_text animate_style_3">0s</span> and
                <span class="animate_text animate_style_4">1s</span> in a machine.
            </p>
            <p class="wrapper">
                I have worked as a <span class="animate_text animate_style_2">Web Developer</span> for 3 years, creating <span
                    class="animate_text animate_style_3">eLearning Solutions</span> for more than <span class="animate_text animate_style_4">20,000
                    concurrent users.</span>
            </p>
            <p class="wrapper">
                Currently, I am a <span class="animate_text animate_style_3">student</span> at <span class="animate_text animate_style_4">UCR</span>
                pursuing my <span class="animate_text animate_style_1">Master's</span> in <span class="animate_text animate_style_2">Computer
                    Science.</span>
            </p>
            <p class="wrapper">
                I am <span class="animate_text animate_style_4">amazed </span> and
                <span class="animate_text animate_style_2">awed</span> by <span class="animate_text animate_style_3">machine learning</span> and its
                implementation and wish to <span class="animate_text animate_style_4">pursure a career</span> in it.
            </p>

        </div>

        <div class="learning">

            <div class="things_i_learnt">
                <ol class="list_common"><li class="list_item content_only">Technologies I have worked on</li></ol>
                <ol class="learnt_list list_common">
                    <li class="list_item">Angular</li>
                    <li class="list_item">Electron</li>
                    <li class="list_item">Javascript</li>
                    <li class="list_item">Node.JS</li>
                </ol>
            </div>
            <div class="things_i_am_learning">
                <ol class="list_common"><li class="list_item content_only">Technologies I am Learning</li></ol>
                <ol class="learning_list list_common">
                    <li class="list_item">Deep Learning</li>
                    <li class="list_item">Computer Vision</li>
                    <li class="list_item">Image Processing</li>
                    <li class="list_item">NLP</li>
                </ol>
            </div>
        </div>
    </div>

</div>