@import "../../_common_v3.scss";

.startup-loader {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100vh;
    background: var(--v2_primary_background_color_1);
    animation: hide-loader 0.5s ease 2s forwards;
    opacity: 1;

    .loader-container {
        position: relative;
        width: fit-content;
        height: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 32px;
        animation: hide-loader-container 0.5s ease 1.8s forwards;

        .name {
            display: flex;
            flex-direction: row;
            gap: 32px;
            align-items: center;
            justify-content: center;

            .svg-logo-name {
                animation: logo-fill 0.7s ease-in-out forwards 0.2s;

                display: none;

                @media (min-width:700px) {
                    display: block;
                }

                path {
                    stroke: var(--v2_text_color_1);
                }

                path:nth-child(1) {
                    stroke-dasharray: 456px;
                    stroke-dashoffset: 456px;
                    animation: line-anim 1s ease-in-out forwards 0.2s;
                }

                path:nth-child(2) {
                    stroke-dasharray: 616px;
                    stroke-dashoffset: 616px;
                    animation: line-anim 1s ease-in-out forwards 0.3s;
                }

                path:nth-child(3) {
                    stroke-dasharray: 455px;
                    stroke-dashoffset: 455px;
                    animation: line-anim 1s ease-in-out forwards 0.4s;
                }

                path:nth-child(4) {
                    stroke-dasharray: 720px;
                    stroke-dashoffset: 720px;
                    animation: line-anim 1s ease-in-out forwards 0.5s;
                }

                @keyframes logo-fill {
                    from {
                        fill: transparent;
                    }

                    to {
                        fill: var(--v2_text_color_1);
                    }
                }

                @keyframes line-anim {
                    to {
                        stroke-dashoffset: 0px;
                    }
                }

            }

            .svg-logo-circle {
                .logo-circle {
                    stroke: var(--v2_logo_background);
                    stroke-dasharray: 571px;
                    stroke-dashoffset: 571px;
                    animation: line-anim-logo1 1.5s ease-in-out forwards;
                    stroke-width: 2px;
                }

                .logo-name {
                    stroke: var(--v2_text_color_1);
                    stroke-dasharray: 650px;
                    stroke-dashoffset: 650px;
                    transform: translate(30%, 22%);
                    animation: line-anim-logo2 1.5s ease-in-out forwards;
                    stroke-width: 2px;
                }

                @keyframes line-anim-logo1 {
                    from {
                        fill: transparent;
                    }

                    to {
                        fill: var(--v2_logo_background);
                        stroke-dashoffset: 0px;
                    }
                }

                @keyframes line-anim-logo2 {
                    from {
                        fill: transparent;
                    }

                    to {
                        fill: var(--v2_text_color_1);
                        stroke-dashoffset: 0px;
                    }
                }
            }


        }

        @keyframes hide-loader-container {
            to {
                top: 0%;
            }
        }

    }

    @keyframes hide-loader {
        to {
            opacity: 0;
            display: none;
            pointer-events: none;

        }
    }
}

.component-section {
    overflow: hidden;

    &.hero {
        min-height: 100vh;
    }
}


#snackbar {
    visibility: hidden;
    text-align: center;
    border-radius: 8px;
    max-width: 50%;
    width: fit-content;
    min-width: 200px;
    padding: 4px;
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 32px;
    background: var(--v2_main_color_1_lighten);
    font-size: 1.25em;
    transform: translateX(-50%);

    &.success {
        background: var(--v2_main_color_1_lighten);

    }

    &.error {
        background: var(--v2_error_red);

    }

    &.show {
        visibility: visible !important;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
        animation: fadein 0.5s, fadeout 0.5s 4.5s;

        .progress {
            .progress-value {
                animation: load 4.5s normal forwards;
            }
        }
    }

    .text {
        padding: 8px 12px;
        display: block;
    }

    .progress {
        background: rgba(255, 255, 255, 0.1);
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        height: 4px;
        width: 100%;

        .progress-value {
            box-shadow: 0 10px 40px -10px var(--v2_text_color_1);
            border-radius: 100px;
            background: var(--v2_text_color_1);
            height: 4px;
            width: 0;
        }
    }


    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 32px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 32px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 32px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 32px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes load {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}

.back-to-top {
    background-color: var(--v2_main_color_1);
    cursor: pointer;
    width: 56px;
    height: 56px;
    z-index: 999;
    position: fixed;
    right: 32px;
    bottom: 32px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 4px 16px 0 rgba(#000, 0.4);

    &:hover {
        background-color: var(--v2_main_color_1_lighten);
    }

    &:active {
        box-shadow: none;
        background-color: var(--v2_main_color_1_lighten);
    }

    svg.icon__arrow-up {
        fill: var(--v2_text_color_1);
        width: 32px;
        height: 32px;
    }
}